{% extends 'base.html.twig' %}

{% block body %}

	{{ form_start(form) }}
	<div class="row">
		<h3 class="my-5 d-flex justify-content-center text-white">Register</h3>
		<div class="col-lg-3 col-md-2 col-sm-1"></div>
		<div class="col-lg-6 col-md-8 col-sm-10 mb-4">
			<div class="d-flex align-items-center flex-column">
				{% if error %}
					<div class="alert alert-danger">{{ error }}</div>
				{% endif %}
				<div class="mb-3 w-100">
					{{ form_label(form.name, 'Name', {'label_attr': {'class': 'form-label text-white'}}) }}
					{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.name) }}
				</div>
				<div class="mb-3 w-100">
					{{ form_label(form.email, 'Email address', {'label_attr': {'class': 'form-label text-white'}}) }}
					{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.email) }}
				</div>
				<div class="mb-3 w-100">
					{{ form_label(form.password, 'Password', {'label_attr': {'class': 'form-label text-white'}}) }}
					{{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.password) }}
				</div>
				<button type="submit" class="btn btn-primary">Register Account</button>
			</div>
		</div>
		<div class="col-lg-3 col-md-2 col-sm-1"></div>
	</div>
</div>
{{ form_end(form) }}{% endblock %}
