<div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-row justify-content-center mb-4">
    <div class="card mx-2 mb-2" style="width: 18rem;">
        {% if recipe.imageName == null %}
            <img src="{{ asset('img/default.jpg') }}" class="card-img-top" style="width: 100%; height: 180px; object-fit: cover;" alt="...">
        {% else %}
            <img src="{{ asset('img/recipes/' ~ recipe.imageName) }}" class="card-img-top" style="width: 100%; height: 180px; object-fit: cover;" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ recipe.name }}</h5>
            <p class="card-text">{{ recipe.description|truncateString(72) }}</p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ recipe.id }}">Se opskrift</button>
        </div>
        {% if owner %}
            <div class="d-flex flex-row justify-content-between mb-3">
                <button class="btn btn-primary mx-3" data-bs-toggle="modal" data-bs-target="#editModal{{ recipe.id }}">Ændre</button>
                <button class="btn btn-danger mx-3" data-bs-toggle="modal" data-bs-target="#deleteModal{{ recipe.id }}">Slet</button>
            </div>
        {% endif %}
    </div>   
</div>