<div class="modal fade" id="staticBackdrop{{ recipe.id }}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable"> 
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ recipe.Name }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="min-height: 50vh;">
                <div class="container">
                    <div class="row">
                        <div class="d-flex flex-row justify-content-between">
                            <p class="fs-6">Lavet af: {{ recipe.userId.name }}</p>
                            <p class="fs-6">Oprettet den: {{ recipe.createdOn|date('Y-m-d') }}</p>
                        </div>
                        <div class="col-lg-6 col-sm-12 mb-2 ">
                            <ul class="list-group">
                                {% for ingredient in recipe.ingredients %}
                                    <li class="list-group-item d-flex flex-row justify-content-between">
                                        <div class="col-8">{{ ingredient.ingredientId.name }}</div>
                                        <div class="col-2"> {{ ingredient.Amount }} </div>
                                        <div class="col-2 d-flex justify-content-end"> {{ ingredient.ingredientAmountTypeId.type }}</div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-12 mb-2">
                            <div class="d-flex flex-column h-100 border rounded pt-2 px-2">
                                <h5>Sådan gør du:</h5>
                                <p class="fs-6 textarea-pre-wrap">{{ recipe.description }}</p>
                                    <div class="d-flex flex-row justify-content-between mt-auto" style="margin-bottom: -15px;">
                                    <p>Forberedelsestid: {{ recipe.prepTimeHour }} h {{ recipe.prepTimeMin }} min </p>
                                    <p>Tilberedningstid: {{ recipe.cookTimeHour }} h {{ recipe.cookTimeMin }} min </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk</button>
            </div>
        </div>
    </div>
</div>