{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h3 class="my-5 d-flex justify-content-center text-white">Contact me if you have any questions</h3>
            {{ form_start(form, {'attr': {'class': 'd-flex align-items-center flex-column'}}) }}
            <div class="mb-3 w-50">
                {{ form_label(form.fullName, 'Full Name', {'label_attr': {'class': 'form-label text-white'}}) }}
                {{ form_widget(form.fullName) }}
                {{ form_errors(form.fullName) }}
            </div>
            <div class="mb-3 w-50">
                {{ form_label(form.email, 'Email Address', {'label_attr': {'class': 'form-label text-white'}}) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="mb-3 w-50">
                {{ form_label(form.message, 'Leave your message here', {'label_attr': {'class': 'form-label text-white'}}) }}
                {{ form_widget(form.message) }}
                {{ form_errors(form.message) }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
