{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-9 d-flex flex-column mt-5 mb-5">
				<p class="text-green">
					<strong>Kontakt mig</strong>
				</p>
				<h1 class="mt-2 mb-4">Har du nogle spørgsmål eller problemer?</h1>
				<p>Jeg vil meget gerne høre fra dig! Hvis du har spørgsmål, oplever problemer med siden, eller har idéer til, hvordan vi kan forbedre din oplevelse, er du velkommen til at sende mig en besked.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-2 col-sm-1"></div>
			<div class="col-lg-6 col-md-8 col-sm-10 mb-4">
				{{ form_start(form, {'attr': {'class': 'd-flex flex-column align-items-center'}}) }}
				<div class="mb-3 w-100">
					{{ form_label(form.fullName, 'Fulde navn', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.fullName) }}
					{{ form_errors(form.fullName) }}
				</div>
				<div class="mb-3 w-100">
					{{ form_label(form.email, 'Email adresse', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.email) }}
					{{ form_errors(form.email) }}
				</div>
				<div class="mb-3 w-100">
					{{ form_label(form.message, 'Efter lad din besked her', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.message) }}
					{{ form_errors(form.message) }}
				</div>
				<button type="submit" class="btn btn-primary">Send besked</button>
				{{ form_end(form) }}
			</div>
			<div class="col-lg-3 col-md-2 col-sm-1"></div>
		</div>
	</div>
{% endblock %}
