{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
        <h3 class="my-5 d-flex justify-content-center text-white">Kontakt mig hvis du har spørgsmål eller idéer til forberedelser til hjemmesiden</h3>
		<div class="col-lg-3 col-md-2 col-sm-1"></div>
		<div class="col-lg-6 col-md-8 col-sm-10 mb-4">
			{{ form_start(form, {'attr': {'class': 'd-flex flex-column align-items-center'}}) }}
			<div class="mb-3 w-100">
				{{ form_label(form.fullName, 'Fulde navn', {'label_attr': {'class': 'form-label text-white'}}) }}
				{{ form_widget(form.fullName) }}
				{{ form_errors(form.fullName) }}
			</div>
			<div class="mb-3 w-100">
				{{ form_label(form.email, 'Email adresse', {'label_attr': {'class': 'form-label text-white'}}) }}
				{{ form_widget(form.email) }}
				{{ form_errors(form.email) }}
			</div>
			<div class="mb-3 w-100">
				{{ form_label(form.message, 'Efter lad din besked her', {'label_attr': {'class': 'form-label text-white'}}) }}
				{{ form_widget(form.message) }}
				{{ form_errors(form.message) }}
			</div>
			<button type="submit" class="btn btn-primary">Send besked</button>
			{{ form_end(form) }}
		</div>
		<div class="col-lg-3 col-md-2 col-sm-1"></div>
	</div>
{% endblock %}
