<div id="navbar" class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="d-flex flex-row justify-content-between">
                <div>
                    <img src="{{ asset('icons/icon-hvid-grøn.svg') }}" alt="Oldefarsopskrifter" style="height: auto; width: 200px;">
                </div>
                <div class="d-flex flex-row align-items-center">
                    <a href="{{ path('home') }}" class="hover-3 p-2 me-3 {{ app.request.attributes.get('_route') == 'home' ? 'keep-hover-3' : '' }}">Hjem</a>
                    <a href="{{ path('recipes') }}" class="hover-3 p-2 me-3 {{ app.request.attributes.get('_route') == 'recipes' ? 'keep-hover-3' : '' }}">Opskrifter</a>
                    <a href="{{ path('contact') }}" class="hover-3 p-2 me-3 {{ app.request.attributes.get('_route') == 'contact' ? 'keep-hover-3' : '' }}">Kontakt</a>
                    {% if app.user %}
                        <a href="{{ path('myrecipes') }}" class="hover-3 p-2 me-3 {{ app.request.attributes.get('_route') == 'myrecipes' ? 'keep-hover-3' : '' }}">Mine opskrifter</a>
                        <a href="{{ path('edit') }}" class="btn btn-primary"><img src="{{ asset('icons/person_settings.svg') }}" class="pe-2">Hej! Se konto her</a>
                    {% else %}
                        <a href="{{ path('login') }}" class="btn btn-primary"><img src="{{ asset('icons/person.svg') }}" class="pe-2">Hej! Log ind her</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="navbar-mobile" class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                <div>
                    <img id="navbar-toggle" class="bg-primary p-2" src="/icons/hamburger.svg" alt="Menu">
                </div>
                <div>
                    {% if app.user %}
                        <a href="{{ path('edit') }}" class="btn btn-primary"><img src="{{ asset('icons/person_settings.svg') }}" class="pe-2">Hej! Se konto her</a>
                    {% else %}
                        <a href="{{ path('login') }}" class="btn btn-primary"><img src="{{ asset('icons/person.svg') }}" class="pe-2">Hej! Log ind her</a>
                    {% endif %}
                </div>
            </div>
            <div id="dropdown-menu" class="dropdown-menu mx-2 p-2">
                <ul class="fs-5 navbar-nav">
                    <li><a href="{{ path('home') }}" class="text-black">Hjem</a></li>
                    <li><a href="{{ path('recipes') }}" class="text-black">Opskrifter</a></li>
                    <li><a href="{{ path('contact') }}" class="text-black">Kontakt</a></li>
                    {% if app.user %}
                    <li><a href="{{ path('myrecipes') }}" class="text-black">Mine opskrifter</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
document.getElementById('navbar-toggle').addEventListener('click', function(event) {
    event.stopPropagation(); // Prevent the click event from bubbling up to the document
    var dropdownMenu = document.getElementById('dropdown-menu');
    var navbarMobileIcon = document.getElementById('navbar-toggle');

    if (dropdownMenu.style.display === 'none' || dropdownMenu.style.display === '') {
        dropdownMenu.style.display = 'block';
        navbarMobileIcon.src = "{{ asset('icons/close_menu.svg') }}"; // Change the icon to close menu
    } else {
        dropdownMenu.style.display = 'none';
        navbarMobileIcon.src = "{{ asset('icons/hamburger.svg') }}"; // Change the icon to hamburger menu
    }
});

document.addEventListener('click', function(event) {
    var dropdownMenu = document.getElementById('dropdown-menu');
    var navbarMobileIcon = document.getElementById('navbar-toggle');

    if (event.target !== dropdownMenu && event.target !== navbarMobileIcon && !dropdownMenu.contains(event.target)) {
        dropdownMenu.style.display = 'none';
        navbarMobileIcon.src = "{{ asset('icons/hamburger.svg') }}"; // Ensure icon is set to hamburger menu when menu is closed
    }
});
</script>